.body {
  background-color: #333;
}
.hero{
  background-color: #2b4470;
  padding:200px 200px 200px 200px;
  background-image: url("blueberries.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}