/*
  General Styling
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

 body{
    font-family: roboto, arial, sans-serif;
    font-weight:400;
    background-color: #f1f1f1;
    color: #333;
    margin: 0;
   }
   a, a:visited{
       text-decoration: none;
       color:#d69e00;
   }
   a:hover {
       color: #e4b532;
   }
   
 
      /*Navigation
      */
      .main-nav{
          .main-nav{
              max-width:960px;
              margin:20px auto;
              text-align: right;
          }
        
    
      a.nav-link{
          box-sizing:border-box;
          color:#fff;
          text-decoration:none;
          height:40px;
          line-height:38px;
          font-size:20px;
          font-family:Cormorant, cursive;
          display:inline-block;
          margin:10px 5px;
          padding:0px 15px;
          border-radius: 20px
          border:2px solid rgba(255, 255, 255, 0);
          transition:all 0.2s ease;
      }
      a.nav-link:hover{
          color:#FFD86B;
          border-clolr:#ffd86b;
          background-color: rgba(0,0,0,0.4)
      }
      #logo{
          float:left;
          margin-right:100px;
          width:0;
          height:0;
          color:rgba(255,255,255,0);
          padding:60px 160px 0 0;
          background-image: url('images/logo.png');
          background-size:120px 60px;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 3px;
          transition: all 0.2s ease;
         
      }
      #logo:hover{
          background-color: rgba(0.0.0.4)
      }
      /* Main-content*/
      main-content{
          margin:50px auto;
          width:960px;}
          .clear{
          clear:both;}
          
      }
      
       /*
       Footer*/
       footer{
           background-color:#333;
           color:#999;
           padding:20px;
           text-align:center;
       }
       footer-link{
           color:AB810A;
           text-decoration:none;
       }
       .footer-link:hover{
           color:D69E00;
           text-decoration:underline;
       }
       
       /*Home*/
       .card{
           background-color:#fff;
           border:2px solid #ddd;
           width:288px;
           margin:20px auto;
           text-align:center;
       }
       .card-title{
           padding:10px 20px;
           margin: 20px 0 10px 0;
           font-size:24px;
           text-align:center;
       }
       
       /*About*/
       .about-list-container{
           border:4px solid #ddd;
           text-align:left;
           padding:20px;
           margin:20px;
        }
